body{
font-family:"Lato", sans-serif;
transition:background-color .5s;

overflow:scroll;
}
.header{
height: 200px;
border-radius:0 0 10px 10px;
background-image:url("../resources/images/headback.jpg");
background-repeat:no-repeat;
background-size:100% 100%;
transition:margin-left .5s;
padding:5px;
margin-left:0px;
width: 100%;
}
.header nav a{
color:white;
font-size:140%;
font-family: times new Roman, Lucida Console;
text-shadow:1px 1px 2px #ffb03b;
margin-left:5px;
border-radius:20px;
padding:7px;
min-width:20%;
}
.header nav{
max-width:50%;
width:50%;
float:left;
padding:20px;
margin-left:50px;
}
.header nav a:hover{
 color:black;
 text-shadow:1px 1px 2px #ffb03b;
 opacity:0.8;
 background-color:black;
}
.headerShadow{
filter:drop-shadow(5px 5px 5px rgb(80,80,80));
}
#logo{
top:10px;
width:125px;
height:auto;
max-width:15%;
min-width:5%;
float:right;
background-color:rgba(210,166,121,0.45);
margin-top:30px;
margin-right:25px;
box-shadow:5px 5px 5px black;
position:relative;
}
#Mystlogo{
top:10px;
position:relative;
max-width:100%;
}
#search{
width:80%;
height:45%;
clip-path:polygon(0 0, 120% 100%, 0 100%);
position:absolute;
float:left;
top:50%;
background:transparent;
}
 #srchform{
position:relative;
top:40%;
left:2%;
padding:0;
width:50%;
}
#srchbtn{
position:relative;
top:4px;
left:2%;
width:40px;
height:40px;
background-color:rgba(0,0,0,.8);
border:solid  2px;
border-radius:50%;

}
#srchbtn:hover{
transform:scale(110%,110%);
background-color:rgba(20,20,20,.8);
box-shadow:1px 1px 1px  #ffb03b;
border-color:#ffb03b;
transition:0.3s;
}
#srchbtn,#query{
max-width:50%;
min-width:20&;
box-shadow:5px 5px 5px black;
}
#query{
position:relative;
width:60%;
border-radius:18px;
border-color:#ffb03b;
padding:10px 10px;
margin:5px 0;
outline:none;
background-color:rgba(0,0,0,.65);
color:seashell;
height:35px;
}
#srchimg{
max-width:80%;
margin:0;
padding:0;
filter: invert(26%) sepia(89%) saturate(1583%) hue-rotate(1deg) brightness(96%) contrast(106%);
}

.section-about .imgback .centertext {
	width: 80%;
	margin: 0 auto 30px auto;
	padding: 200px 20px 20px 20px;
	color: aqua;
	text-align: center;
    font-family:times new Roman;
    font-size: 40px;
}
.section-about {
  background-color: rgba(247, 242, 242, 0.7);
  padding: 15.6rem 0;
  margin-top: -20vh;
  margin-bottom: -35rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem)/2);
}
.u-center-text {
  text-align: center;
}

.u-margin-bottom-2 {
  margin-bottom: 1.3rem;
}

.comp1__now {
  position: relative;
}

.comp1__now .comp1 {
  width: 60%;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 10;
  transition: all .2s;
  -webkit-outline-offset: 1.5rem;
  outline-offset: 1.5rem;
}

.comp1__now .comp1--p1 {
  left: 40%;
  top: -2rem;
}

.comp1__now .comp1--p2 {
  left: 0;
  top: 5rem;
}

.comp1__now .comp1--p3 {
  width: 70%;
  left: 50%;
  top: 15rem;
}

.comp1__now .comp1:hover {
  outline: 1rem solid black;
  transform: scale(1.3);
  box-shadow: 0 2rem 2.5rem rgba(0, 0, 0, 0.7);
  z-index: 20;
}

.comp1__now:hover .comp1:not(:hover) {
  transform: scale(0.95);
}
.imgback{
	width: 100%;
  height: 650px;
  border-radius: 5%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.row {
  width: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
  margin-bottom: 8rem;
  background-color: #f7f2f280;
}

.row [class^="col-"][class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem)/2);
}

.row .col-1-of-3 {
  width: calc((100% - 2*(6rem))/3);
}

.row .col-1-of-4 #special #grid {
  width: calc((100% - 3*(6rem))/4);
}

footer{
    text-align: left;
    background-color:black;
    border-radius:10px 10px 0 0;
    color: white;
    padding:0%;
    margin:0px;
    width:100%;
    height: 250px;
    overflow:hidden;
    position:relative;
}
.footer{
	border-radius:15px 15px 0 0;
    width:100%;
    margin:0;
    background-size:cover;
    background-repeat:no-repeat;
    box-shadow:5px 5px 5px rgb(80,80,80);
}
footer p{
font-size:20px;
padding:1px;
margin:1px;
text-shadow:0px 0px 2px #ffb03b;
}
.followLinks{
    font-family:times new Roman;
    float:center;
    position:absolute;
    left:15%;
    }
footer a{
   text-decoration:none;
   text-shadow:0px 0px 2px #ffb03b;
}
.followLinks a img{
    width:20px;
    height:20px;
    z-index:1;
}
.followLinks a img:hover{
    box-shadow:0px 0px 2px rgb(0,0,0);
    transition:.3s;
    z-index:2;
    transform:scale(2,2);
}
#btm {
  font-family:times new Roman;
    position:relative;
    font-size: 150%;
}
#Copyright {
  float: center;
  text-align: center;
}
